/*Stylesheet for the Art of Surrealism Homepage*/

header {
	background-color:white;
	font-family:'Gothic A1', sans-serif;
	letter-spacing:.25em;
	font-size:5em;
	text-align: right;
}

body {
	font-family: 'Gothic A1',sans-serif;
	position:absolute;
	top:200px;
}

img {
	width:65%;
	;
	/*margin-bottom: 1em;
	margin-top: 1em;*/ 
}

nav ul {
	list-style-type: none;
	text-align:right;
	font-size:25px;
	margin-top: 10px;
}

nav a {
	text-decoration: none;
}

nav li {
	color: black;
	display: inline-block;
	margin: 1em;
}

footer {
	background-color: black;
	display: inline;
	height:150px;
	
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}

.social {
	width:3em;
	margin:.25em;
}

.front {
	position: fixed;
	right:0;
}

div {
	display: inline-block;
}	

.flex {
	display:flex;
	flex-wrap:wrap;
	justify-content: flex-end;
}

.flex img, .flex header {
	margin-left:10px;
}

.level {
	align-self: flex-end;
}