/*Stylesheet for the Art of Surrealism*/

header {
	font-family:'Gothic A1', sans-serif;
	font-size:5em;
	text-align: right;
	margin-left:50px;
}

img {
	width:auto;
	
}
	
body {
	font-family: 'Gothic A1',sans-serif;
}

h1 {
	text-align: right;
	margin-top: 100px;
	margin-right:800px;

}

nav ul {
	list-style-type: none;
	text-align:right;
	margin:0;
	font-size:20px;
	margin-bottom:15px;
	padding:0;
}

nav li {
	color: white;
	display: inline;
	margin: 1em;
}

footer {
	background-color: black;
	display: inline;

	position:variable;
	bottom:0;
}

div {

}

.social {
	width:3em;
	margin:1em;
}

a {
	color:white;
	text-decoration: none;
}

.pageheader {
	/*background-image: url("pictures/surrealism1.jpeg");
	background-size:100% auto;
	opacity: .7;
	background-position: center center;
	background-repeat: no-repeat;*/
	
}


.flex {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	max-width:1000px;
	margin: auto;
	
}

.flex img, .flex p {
	width: 450px;
	margin-right:25px;
}

.top {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url("pictures/surrealism1.jpeg");
	background-size:100% auto;
	opacity: .7;
	background-position: center center;
	background-repeat: no-repeat;
}