/*Stylesheet for the Art of Surrealism*/

header {
	font-family:'Gothic A1', sans-serif;
	font-size:5em;
	text-align: right;
	margin-left:50px;
}

img {
	width:auto;
}
	
body {
	font-family: 'Gothic A1',sans-serif;
}

h1 {
	text-align: right;
	margin-top: 50px;
	margin-right:800px;
}

nav ul {
	list-style-type: none;
	text-align:right;
	margin:0;
	font-size:20px;
	margin-bottom:15px;
	padding:0;
}

nav li {
	color: white;
	display: inline;
	margin: 1em;
}

footer {
	/*background-color: black;*/
	display: inline;

	position:variable;
	bottom: o;
}

p {
	font-size: 17px;
}

.social {
	width:3em;
	margin:.15em;
}

a {
	color:white;
	text-decoration: none;
}

.pageheader {
	/*background-image: url("pictures/surrealism1.jpeg");
	background-size:100% auto;
	opacity: .7;
	background-position: center center;
	background-repeat: no-repeat;*/
	
}


.flex {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	max-width:1400px;
	margin: auto;
	
}

.flex img, .flex p {
	width: 600px;
	margin-right:50px;
}

.top {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url("pictures/surrealism1.jpeg");
	background-size:100% auto;
	opacity: .7;
	background-position: center center;
	background-repeat: no-repeat;
}

.rounded {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	align-items: center;
	margin-top: 100px;
}

.rounded img{
	/*width: 200px;
 	height: 200px;
 	background-image: url(pictures/surrealism.jpg);  
	background-size: cover;
 	display: block;
 	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;*/
 	border-radius: 50%;
 	max-width: 300px;
 	margin-top: 50px;
 	margin-bottom: 50px;	
 	margin-left:50px;
 	margin-right: 50px;	 
 }

.gallery {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 150px;
}

.gallery img {
	max-width: 300px;	
 	margin-left: 15px;
 	margin-right: 15px;	 
}

.manray { 
	max-height: 800px;
	max-width: auto;
}